/* DEMO CSS */
.demo-1,
.demo-2 {
  width:40%;
  height:400px;
  margin-left:5%;
  float:left
}


/* SCROLLIFY CSS */
.mask {
  height:100%;
  border:solid 1px #ccc;
  position:relative;
  overflow:hidden;
}

.content {
  padding:0 40px;
  position:absolute;
}

.scrollbar {
  height:100%;
  width:15px;
  top:0;
  right:0;
  background:#efefef;
  box-shadow:inset 1px 1px 0 #ccc;
  border:solid 1px #efefef;
  border-top:0;
  border-bottom:0;
  position:absolute;
  z-index:2;
}

.scrollbar .handle {
  width:14px;
  height:80px;
  top:0;
  left:1px;
  background:#eeeeee;
  background-image: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee));
  background-image: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 100%);
  background-image: -o-linear-gradient(left,  #cccccc 0%,#eeeeee 100%);
  background-image: -ms-linear-gradient(lefy,  #cccccc 0%,#eeeeee 100%);
  background-image: linear-gradient(left,  #cccccc 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=1 );
  box-shadow:0 2px 2px #999;
  border-radius:15px;
  position:absolute;
  cursor:pointer;
  z-index:3;
}